.s-main-body {
  display: flex;
  flex-direction: column;
  background-color: #11171d;
}

.s_body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.s_inner-body {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.s_login-prompt {
  top: -10%;
  position: absolute;
  align-self: center;
  width: 60%;
  height: 100%;
  border-radius: 50px;
  box-shadow: 0 10px 40px 0 #00000080;
  border: solid 0 #979797;
  background-color: #213649;
}

.logo-twisster {
  position: absolute;
  top: 12%;
  left: 40%;
  width: 25%;
  height: 30%;
}

.name-twisster {
  position: absolute;
  top: 40%;
  left: 43%;
  width: 10%;
  height: 20%;
  font-family: sans-serif;
  font-size: 250%;
  font-weight: lighter;

  letter-spacing: 5px;
  color: #ffffff;
}

.s_email-textbox {
  position: absolute;
  left: 8%;
  top: 50%;
  width: 80%;
  height: 5%;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 24px;
  background-color: #11171d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  outline: none;
}

.s_username-textbox {
  position: absolute;
  left: 8%;
  top: 60%;
  width: 80%;
  height: 5%;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 24px;
  background-color: #11171d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  outline: none;
}

.s_password-textbox {
  position: absolute;
  left: 8%;
  top: 70%;
  width: 80%;
  height: 5%;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 24px;
  background-color: #11171d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  outline: none;
}

.s_signup-button {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 30%;
  top: 72%;
  width: 40%;
  height: 10%;
  border-radius: 37.5px;
  border: solid 0 #979797;
  background-color: #11171d;
  box-shadow: 0 1px 10px 0 #00000080;
  outline: none;
  transition: all 0.5s;
}

.s_username-textbox:hover {
  box-shadow: 0 1px 10px 0 #00000080;
}

.s_email-textbox:hover {
  box-shadow: 0 1px 10px 0 #00000080;
}

.s_password-textbox:hover {
  box-shadow: 0 1px 10px 0 #00000080;
}
/* .login-textbox: */

.s_login-text {
  /* align-self: flex-start; */
  width: 90%;
  height: 100%;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 200;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.s_signup-button {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 30%;
  top: 82%;
  width: 40%;
  height: 10%;
  border-radius: 37.5px;
  border: solid 0 #979797;
  background-color: #2969a8;
  box-shadow: 0 1px 10px 0 #00000080;
  outline: none;
  transition: all 0.5s;
}

.s_signup-button:hover {
  box-shadow: 0 2px 30px 03px#00000080;
}

.s_signup-button:active {
  transition: 0.1s;
  background-color: #3e8e41;
  box-shadow: 0 1px 10px 0 #00000080;
  transform: translateY(2px);
}

.s_signup-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.s_signup-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.s_signup-button:hover span {
  padding-right: 25px;
}

.s_signup-button:hover span:after {
  opacity: 1;
  right: 0;
}

.return-login {
  font-size: 24px;
  font-weight: bold;
  background-color: inherit;
  position: absolute;
  top: 95%;
  left: 38%;
}

.return-login_b {
  padding: 0px 0px;
  font-size: 24px;
  font-weight: bold;
  background-color: inherit;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
}

.return-login_b:hover {
  top: -25%;
  font-size: 32px;
  background-position-y: -2555px;
}
