.top-bar-twisster {
  margin-left: 20px;
  margin-top: 0px;
  width: 75px;
  height: 44px;
  font-family: AvenirNextCondensed-UltraLight;
  font-size: 48px;
  font-weight: 200;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.top-bar-search {
  margin-left: 27%;
  margin-top: 15px;
  width: 676px;
  height: 25px;
  border-radius: 7px;
  background-color: #ffffff;
}

.top-bar-button {
  margin-left: 28%;
  margin-top: 5px;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
}

.top-bar-logout {
  position: absolute;
  right: 2%;
  float: right;
  width: 5%;
  height: 48px;
  background-color: #ffffff;
  top: 0.5%;
  color: #11171d;
}

.top-bar-profile {
  position: absolute;
  right: 8%;
  float: right;
  width: 5%;
  height: 48px;
  background-color: #ffffff;
  top: 0.5%;
  color: #11171d;
}

.top-bar-chat {
  position: absolute;
  right: 14%;
  float: right;
  width: 5%;
  height: 48px;
  background-color: #ffffff;
  top: 0.5%;
  color: #11171d;
}

.picture {
  margin-left: 24px;
  margin-top: 0.5%;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
