.user_name {
    font-size: 1cm;
    font-style: normal;
    font-weight: 500;
    color: blueviolet;
}

.hold_text {
    margin-top: 10px;
    margin-bottom: 15px;
}

.del_bt {
    margin-bottom: 10px;
}